<div class="bonds-container">
  <!-- Bonds -->
  <div class="bonds">
    <h2>Bonds</h2>
    <div class="bonds-list">
      {{!-- Bond 1 --}}
      <div class="bond">
        <input type="text" name="system.core.bonds.bond1.name" value="{{system.core.bonds.bond1.name}}" placeholder="Bond Name" />
        <input type="text" name="system.core.bonds.bond1.relation" value="{{system.core.bonds.bond1.relation}}" placeholder="Relation" />
        <input type="number" name="system.core.bonds.bond1.points" value="{{system.core.bonds.bond1.points}}" placeholder="Points" />
      </div>
      {{!-- Bond 2 --}}
      <div class="bond">
        <input type="text" name="system.core.bonds.bond2.name" value="{{system.core.bonds.bond2.name}}" placeholder="Bond Name" />
        <input type="text" name="system.core.bonds.bond2.relation" value="{{system.core.bonds.bond2.relation}}" placeholder="Relation" />
        <input type="number" name="system.core.bonds.bond2.points" value="{{system.core.bonds.bond2.points}}" placeholder="Points" />
      </div>
      {{!-- Bond 3 --}}
      <div class="bond">
        <input type="text" name="system.core.bonds.bond3.name" value="{{system.core.bonds.bond3.name}}" placeholder="Bond Name" />
        <input type="text" name="system.core.bonds.bond3.relation" value="{{system.core.bonds.bond3.relation}}" placeholder="Relation" />
        <input type="number" name="system.core.bonds.bond3.points" value="{{system.core.bonds.bond3.points}}" placeholder="Points" />
      </div>
      {{!-- Bond 4 --}}
      <div class="bond">
        <input type="text" name="system.core.bonds.bond4.name" value="{{system.core.bonds.bond4.name}}" placeholder="Bond Name" />
        <input type="text" name="system.core.bonds.bond4.relation" value="{{system.core.bonds.bond4.relation}}" placeholder="Relation" />
        <input type="number" name="system.core.bonds.bond4.points" value="{{system.core.bonds.bond4.points}}" placeholder="Points" />
      </div>
    </div>
  </div>

  <!-- Fears and Wishes -->
  <div class="fears-wishes">
    <div class="fears">
      <h2>Fears</h2>
      <div class="fears-list">
        {{!-- Fear 1 --}}
        <div class="fear">
          <input type="text" name="system.core.fears.fear1.name" value="{{system.core.fears.fear1.name}}" placeholder="Fear Name" />
        </div>
        {{!-- Fear 2 --}}
        <div class="fear">
          <input type="text" name="system.core.fears.fear2.name" value="{{system.core.fears.fear2.name}}" placeholder="Fear Name" />
        </div>
        {{!-- Fear 3 --}}
        <div class="fear">
          <input type="text" name="system.core.fears.fear3.name" value="{{system.core.fears.fear3.name}}" placeholder="Fear Name" />
        </div>
        {{!-- Fear 4 --}}
        <div class="fear">
          <input type="text" name="system.core.fears.fear4.name" value="{{system.core.fears.fear4.name}}" placeholder="Fear Name" />
        </div>
      </div>
    </div>

    <div class="wishes">
      <h2>Wishes</h2>
      <div class="wishes-list">
        {{!-- Wish 1 --}}
        <div class="wish">
          <input type="text" name="system.core.wishes.wish1.name" value="{{system.core.wishes.wish1.name}}" placeholder="Wish Name" />
        </div>
        {{!-- Wish 2 --}}
        <div class="wish">
          <input type="text" name="system.core.wishes.wish2.name" value="{{system.core.wishes.wish2.name}}" placeholder="Wish Name" />
        </div>
        {{!-- Wish 3 --}}
        <div class="wish">
          <input type="text" name="system.core.wishes.wish3.name" value="{{system.core.wishes.wish3.name}}" placeholder="Wish Name" />
        </div>
        {{!-- Wish 4 --}}
        <div class="wish">
          <input type="text" name="system.core.wishes.wish4.name" value="{{system.core.wishes.wish4.name}}" placeholder="Wish Name" />
        </div>
      </div>
    </div>
  </div>
</div>