<div class="baseskills-container">
  <div class="baseskills-column">
    <div class="baseskills-box">
      <div class="causeheadline1">Weaponskills</div>
    </div>
    <div class="baseskills-grid  weaponskills-grid">
      <div class="weaponskill-box {{#if system.weaponskills1.type}}selected{{/if}}" data-skill="weaponskills1" style="background-image: url('{{system.weaponskills1.img}}');">
        <div class="baseskill-line">
          {{#if system.weaponskills1.type}}
            <span class="weaponskill-name" data-skill="weaponskills1">{{system.weaponskills1.type}}</span>
          {{else}}
            Choose a Weaponskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.weaponskills1.type}}
            <select class="weaponskill-level {{system.weaponskills1.level}}" name="weaponskill-level1">
              <option value="untrained" {{#if (eq system.weaponskills1.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.weaponskills1.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.weaponskills1.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.weaponskills1.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.weaponskills1.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="weaponskill-box {{#if system.weaponskills2.type}}selected{{/if}}" data-skill="weaponskills2" style="background-image: url('{{system.weaponskills2.img}}');">
        <div class="baseskill-line">
          {{#if system.weaponskills2.type}}
            <span class="weaponskill-name" data-skill="weaponskills2">{{system.weaponskills2.type}}</span>
          {{else}}
            Choose a Weaponskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.weaponskills2.type}}
            <select class="weaponskill-level {{system.weaponskills2.level}}" name="weaponskill-level2">
              <option value="untrained" {{#if (eq system.weaponskills2.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.weaponskills2.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.weaponskills2.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.weaponskills2.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.weaponskills2.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <!-- Add more weaponskill boxes as needed -->
      <div class="weaponskill-box {{#if system.weaponskills3.type}}selected{{/if}}" data-skill="weaponskills3" style="background-image: url('{{system.weaponskills3.img}}');">
        <div class="baseskill-line">
          {{#if system.weaponskills3.type}}
            <span class="weaponskill-name" data-skill="weaponskills3">{{system.weaponskills3.type}}</span>
          {{else}}
            Choose a Weaponskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.weaponskills3.type}}
            <select class="weaponskill-level {{system.weaponskills3.level}}" name="weaponskill-level3">
              <option value="untrained" {{#if (eq system.weaponskills3.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.weaponskills3.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.weaponskills3.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.weaponskills3.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.weaponskills3.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="baseskills-column">
    <div class="baseskills-box">
      <div class="causeheadline1">Coreskills</div>
    </div>
    <div class="baseskills-grid coreskills-grid">
      <div class="coreskill-box {{#if system.coreskill1.type}}selected{{/if}}" data-skill="coreskill1" style="background-image: url('{{system.coreskill1.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill1.type}}
            <span class="coreskill-name" data-skill="coreskill1">{{system.coreskill1.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill1.type}}
            <select class="coreskill-level {{system.coreskill1.level}}" name="coreskill-level1">
              <option value="untrained" {{#if (eq system.coreskill1.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill1.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill1.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill1.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill1.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill2.type}}selected{{/if}}" data-skill="coreskill2"  style="background-image: url('{{system.coreskill2.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill2.type}}
            <span class="coreskill-name" data-skill="coreskill2">{{system.coreskill2.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill2.type}}
            <select class="coreskill-level {{system.coreskill2.level}}" name="coreskill-level2">
              <option value="untrained" {{#if (eq system.coreskill2.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill2.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill2.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill2.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill2.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill3.type}}selected{{/if}}" data-skill="coreskill3"  style="background-image: url('{{system.coreskill3.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill3.type}}
            <span class="coreskill-name" data-skill="coreskill3">{{system.coreskill3.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill3.type}}
            <select class="coreskill-level {{system.coreskill3.level}}" name="coreskill-level3">
              <option value="untrained" {{#if (eq system.coreskill3.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill3.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill3.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill3.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill3.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill4.type}}selected{{/if}}" data-skill="coreskill4"  style="background-image: url('{{system.coreskill4.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill4.type}}
            <span class="coreskill-name" data-skill="coreskill4">{{system.coreskill4.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill4.type}}
            <select class="coreskill-level {{system.coreskill4.level}}" name="coreskill-level4">
              <option value="untrained" {{#if (eq system.coreskill4.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill4.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill4.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill4.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill4.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill5.type}}selected{{/if}}" data-skill="coreskill5"  style="background-image: url('{{system.coreskill5.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill5.type}}
            <span class="coreskill-name" data-skill="coreskill5">{{system.coreskill5.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill5.type}}
            <select class="coreskill-level {{system.coreskill5.level}}" name="coreskill-level5">
              <option value="untrained" {{#if (eq system.coreskill5.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill5.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill5.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill5.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill5.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill6.type}}selected{{/if}}" data-skill="coreskill6"  style="background-image: url('{{system.coreskill6.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill6.type}}
            <span class="coreskill-name" data-skill="coreskill6">{{system.coreskill6.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill6.type}}
            <select class="coreskill-level {{system.coreskill6.level}}" name="coreskill-level6">
              <option value="untrained" {{#if (eq system.coreskill6.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill6.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill6.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill6.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill6.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill7.type}}selected{{/if}}" data-skill="coreskill7"  style="background-image: url('{{system.coreskill7.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill7.type}}
            <span class="coreskill-name" data-skill="coreskill7">{{system.coreskill7.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill7.type}}
            <select class="coreskill-level {{system.coreskill7.level}}" name="coreskill-level7">
              <option value="untrained" {{#if (eq system.coreskill7.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill7.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill7.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill7.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill7.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskill8.type}}selected{{/if}}" data-skill="coreskill8"  style="background-image: url('{{system.coreskill8.img}}');">
        <div class="baseskill-line">
          {{#if system.coreskill8.type}}
            <span class="coreskill-name" data-skill="coreskill8">{{system.coreskill8.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="baseskill-line centered-line">
          {{#if system.coreskill8.type}}
            <select class="coreskill-level {{system.coreskill8.level}}" name="coreskill-level8">
              <option value="untrained" {{#if (eq system.coreskill8.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskill8.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskill8.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskill8.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskill8.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>