<div class="items-grid">
  {{#each items as |item index|}}
  <div class="item" data-item-index="{{index}}">
    <label>{{item.name}}</label>
    <input type="text" name="data.items.{{item.id}}.data.skillLevel" value="{{item.data.skillLevel}}" data-dtype="Number">
    <button type="button" class="delete-item" data-item-index="{{index}}">
      <i class="fas fa-trash"></i>
    </button>
  </div>
  {{/each}}
</div>