<div class="favs-container">
  <div class="favs-section favs-section-top-left">
    <h2>Weapons</h2>
    <div class="favs-list">
      {{#each system.favslots.weaponslots}}
      {{#unlessNameIn this.name "Main-Weapon,Side-Weapon,Melee-Weapon"}}
      <div class="favs-item" data-slot-type="{{@key}}">
        <span class="favs-name-weapon">{{this.name}}</span>
      </div>
      {{/unlessNameIn}}
      {{/each}}
    </div>
  </div>

  <div class="favs-section favs-section-top-right">
    <h2>Core Skills</h2>
    <div class="favs-list">
      {{#each coreSkills as |skill key|}}
      <div class="favs-item" data-skill="{{key}}">
        <span class="favs-name-core" data-action="rollCoreSkill">{{skill.type}}</span>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="favs-section favs-section-bottom-left">
    <h2>Skills</h2>
    <div class="favs-list">
      {{#each system.skills}}
      {{#if this.favs}}
      <div class="favs-item skillroll" data-index="{{@index}}">
        <span class="favs-name-skill" data-action="rollSkill">{{this.skillname}}</span>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="favs-section favs-section-bottom-right">
    <h2>Tools</h2>
    <div class="favs-list">
      {{#each system.favslots.toolslots}}
      <div class="favs-item">
        <span class="favs-name">{{this.name}}</span>
      </div>
      {{/each}}
    </div>
  </div>
</div>
