<div class="baseskills-container">
  <div class="baseskills-column">
    <div class="baseskills-box">
      <div class="headline1">Weaponskills</div>
    </div>
    <div class="skills-grid  weaponskills-grid">
      <div class="weaponskill-box {{#if system.weaponskills1.type}}selected{{/if}}" data-skill="weaponskills1" style="background-image: url('{{system.weaponskills1.img}}');">
        <div class="skill-line">
          {{#if system.weaponskills1.type}}
            <span class="weaponskill-name" data-skill="weaponskills1">{{system.weaponskills1.type}}</span>
          {{else}}
            Choose a Weaponskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.weaponskills1.type}}
            <select class="weaponskill-level {{system.weaponskills1.level}}" name="weaponskill-level1">
              <option value="untrained" {{#if (eq system.weaponskills1.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.weaponskills1.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.weaponskills1.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.weaponskills1.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.weaponskills1.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="weaponskill-box {{#if system.weaponskills2.type}}selected{{/if}}" data-skill="weaponskills2" style="background-image: url('{{system.weaponskills2.img}}');">
        <div class="skill-line">
          {{#if system.weaponskills2.type}}
            <span class="weaponskill-name" data-skill="weaponskills2">{{system.weaponskills2.type}}</span>
          {{else}}
            Choose a Weaponskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.weaponskills2.type}}
            <select class="weaponskill-level {{system.weaponskills2.level}}" name="weaponskill-level2">
              <option value="untrained" {{#if (eq system.weaponskills2.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.weaponskills2.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.weaponskills2.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.weaponskills2.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.weaponskills2.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <!-- Add more weaponskill boxes as needed -->
      <div class="weaponskill-box {{#if system.weaponskills3.type}}selected{{/if}}" data-skill="weaponskills3" style="background-image: url('{{system.weaponskills3.img}}');">
        <div class="skill-line">
          {{#if system.weaponskills3.type}}
            <span class="weaponskill-name" data-skill="weaponskills3">{{system.weaponskills3.type}}</span>
          {{else}}
            Choose a Weaponskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.weaponskills3.type}}
            <select class="weaponskill-level {{system.weaponskills3.level}}" name="weaponskill-level3">
              <option value="untrained" {{#if (eq system.weaponskills3.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.weaponskills3.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.weaponskills3.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.weaponskills3.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.weaponskills3.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="baseskills-column">
    <div class="baseskills-box">
      <div class="headline1">Coreskills</div>
    </div>
    <div class="skills-grid coreskills-grid">
      <div class="coreskill-box {{#if system.coreskills1.type}}selected{{/if}}" data-skill="coreskills1" style="background-image: url('{{system.coreskills1.img}}');">
        <div class="skill-line">
          {{#if system.coreskills1.type}}
            <span class="coreskill-name" data-skill="coreskills1">{{system.coreskills1.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills1.type}}
            <select class="coreskill-level {{system.coreskills1.level}}" name="coreskill-level1">
              <option value="untrained" {{#if (eq system.coreskills1.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills1.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills1.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills1.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills1.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills2.type}}selected{{/if}}" data-skill="coreskills2"  style="background-image: url('{{system.coreskills2.img}}');">
        <div class="skill-line">
          {{#if system.coreskills2.type}}
            <span class="coreskill-name" data-skill="coreskills2">{{system.coreskills2.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills2.type}}
            <select class="coreskill-level {{system.coreskills2.level}}" name="coreskill-level2">
              <option value="untrained" {{#if (eq system.coreskills2.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills2.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills2.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills2.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills2.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills3.type}}selected{{/if}}" data-skill="coreskills3"  style="background-image: url('{{system.coreskills3.img}}');">
        <div class="skill-line">
          {{#if system.coreskills3.type}}
            <span class="coreskill-name" data-skill="coreskills3">{{system.coreskills3.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills3.type}}
            <select class="coreskill-level {{system.coreskills3.level}}" name="coreskill-level3">
              <option value="untrained" {{#if (eq system.coreskills3.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills3.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills3.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills3.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills3.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills4.type}}selected{{/if}}" data-skill="coreskills4"  style="background-image: url('{{system.coreskills4.img}}');">
        <div class="skill-line">
          {{#if system.coreskills4.type}}
            <span class="coreskill-name" data-skill="coreskills4">{{system.coreskills4.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills4.type}}
            <select class="coreskill-level {{system.coreskills4.level}}" name="coreskill-level4">
              <option value="untrained" {{#if (eq system.coreskills4.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills4.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills4.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills4.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills4.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills5.type}}selected{{/if}}" data-skill="coreskills5"  style="background-image: url('{{system.coreskills5.img}}');">
        <div class="skill-line">
          {{#if system.coreskills5.type}}
            <span class="coreskill-name" data-skill="coreskills5">{{system.coreskills5.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills5.type}}
            <select class="coreskill-level {{system.coreskills5.level}}" name="coreskill-level5">
              <option value="untrained" {{#if (eq system.coreskills5.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills5.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills5.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills5.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills5.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills6.type}}selected{{/if}}" data-skill="coreskills6"  style="background-image: url('{{system.coreskills6.img}}');">
        <div class="skill-line">
          {{#if system.coreskills6.type}}
            <span class="coreskill-name" data-skill="coreskills6">{{system.coreskills6.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills6.type}}
            <select class="coreskill-level {{system.coreskills6.level}}" name="coreskill-level6">
              <option value="untrained" {{#if (eq system.coreskills6.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills6.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills6.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills6.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills6.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills7.type}}selected{{/if}}" data-skill="coreskills7"  style="background-image: url('{{system.coreskills7.img}}');">
        <div class="skill-line">
          {{#if system.coreskills7.type}}
            <span class="coreskill-name" data-skill="coreskills7">{{system.coreskills7.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills7.type}}
            <select class="coreskill-level {{system.coreskills7.level}}" name="coreskill-level7">
              <option value="untrained" {{#if (eq system.coreskills7.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills7.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills7.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills7.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills7.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
      <div class="coreskill-box {{#if system.coreskills8.type}}selected{{/if}}" data-skill="coreskills8"  style="background-image: url('{{system.coreskills8.img}}');">
        <div class="skill-line">
          {{#if system.coreskills8.type}}
            <span class="coreskill-name" data-skill="coreskills8">{{system.coreskills8.type}}</span>
          {{else}}
            Choose a Coreskill
          {{/if}}
        </div>
        <div class="skill-line centered-line">
          {{#if system.coreskills8.type}}
            <select class="coreskill-level {{system.coreskills8.level}}" name="coreskill-level8">
              <option value="untrained" {{#if (eq system.coreskills8.level "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq system.coreskills8.level "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq system.coreskills8.level "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq system.coreskills8.level "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq system.coreskills8.level "legendary")}}selected{{/if}}>Legendary</option>
            </select>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>