<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <div class="content">
        <div id="tab1" class="tab-content active">
          {{> "systems/cause/templates/actor/parts/actor-skill-partial.hbs"}}
        </div>
        
        <div id="tab2" class="tab-content">
            <!-- Inhalt für Tab 2 -->
        </div>
        
        <div id="tab3" class="tab-content">
            <!-- Inhalt für Tab 3 -->
        </div>
    </div>

    <div class="sidebar">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></h1>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="250" width="175"/>
        <div class="headline1">Attributes</div>
        <div class="row">
          <div class="column headline3" data-action="rollStrength">Strength</div>
          <div class="column headline3" data-action="rollAgility">Agility</div>
        </div>
        <div class="row">
          <div class="textdescrip column"><input type="number" name="system.attributes.str.value" value="{{system.attributes.str.value}}" data-dtype="Number"/></div>
          <div class="textdescrip column"><input type="number" name="system.attributes.agi.value" value="{{system.attributes.agi.value}}" data-dtype="Number"/></div>
        </div>
        <div class="row">
          <div class="columnp headline3" data-action="rollWits">Wits</div>
          <div class="columnp headline3" data-action="rollBrains">Brains</div>
        </div>
        <div class="row">
          <div class="textdescrip column"><input type="number" name="system.attributes.wit.value" value="{{system.attributes.wit.value}}" data-dtype="Number"/></div>
          <div class="textdescrip column"><input type="number" name="system.attributes.bra.value" value="{{system.attributes.bra.value}}" data-dtype="Number"/></div>
        </div>
        <a onclick="showTab(event, 'tab1')">Skills</a>
        <a onclick="showTab(event, 'tab2')">Inventory</a>
        <a onclick="showTab(event, 'tab3')">Bonds</a>
    </div>
    <script>
        function showTab(event, tabId) {
            event.preventDefault();
            const contents = document.querySelectorAll('.tab-content');
            contents.forEach(content => {
                content.classList.remove('active');
            });
            document.getElementById(tabId).classList.add('active');
        }
    </script>
</form>

