<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <div class="navtabs">
        <a onclick="showTab(event, 'tab1')" id="tab-link-tab1" class="active">Core</a>
        <a onclick="showTab(event, 'tab2')" id="tab-link-tab2">Skills</a>
        <a onclick="showTab(event, 'tab3')" id="tab-link-tab3">Bonds</a>
    </div>
    <div class="content">
        <div id="tab1" class="tab-content active">
          {{> "systems/cause/templates/actor/parts/actor-core-partial.hbs"}}
        </div>
        
        <div id="tab2" class="tab-content">
          {{> "systems/cause/templates/actor/parts/actor-skill-partial.hbs"}}
        </div>
        
        <div id="tab3" class="tab-content">
            <!-- Inhalt für Tab 3 -->
        </div>
    </div>

    <div class="sidebar">
        <div class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="250" width="175"/>
        <div class="headline1">Attributes</div>
        <div class="row">
          <div class="column headline3" data-action="rollStrength">Strength</div>
          <div class="column headline3" data-action="rollAgility">Agility</div>
        </div>
        <div class="row">
          <div class="textdescrip column"><input type="number" name="system.attributes.str.value" value="{{system.attributes.str.value}}" data-dtype="Number"/></div>
          <div class="textdescrip column"><input type="number" name="system.attributes.agi.value" value="{{system.attributes.agi.value}}" data-dtype="Number"/></div>
        </div>
        <div class="row">
          <div class="columnp headline3" data-action="rollWits">Wits</div>
          <div class="columnp headline3" data-action="rollBrains">Brains</div>
        </div>
        <div class="row">
          <div class="textdescrip column"><input type="number" name="system.attributes.wit.value" value="{{system.attributes.wit.value}}" data-dtype="Number"/></div>
          <div class="textdescrip column"><input type="number" name="system.attributes.bra.value" value="{{system.attributes.bra.value}}" data-dtype="Number"/></div>
        </div>
        <div class="row">
          <div class="columnp headline3" data-action="rollFormpoints">Formpoints</div>
          <div class="columnp headline3" data-action="rollBrains">Brains</div>
        </div>
        <div class="row">
          <div class="textdescrip column"><input type="number" name="system.core.formpoints.value" value="{{system.core.formpoints.value}}" data-dtype="Number" readonly/></div>
          <div class="textdescrip column"><input type="number" name="system.attributes.bra.value" value="{{system.attributes.bra.value}}" data-dtype="Number"/></div>
        </div>
    </div>

    <script>
        function showTab(event, tabId) {
            if (event) {
                event.preventDefault();
            }
            const contents = document.querySelectorAll('.tab-content');
            contents.forEach(content => {
                content.classList.remove('active');
            });
            document.getElementById(tabId).classList.add('active');
            
            const tabs = document.querySelectorAll('.tabs a');
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });
            document.getElementById('tab-link-' + tabId).classList.add('active');

            localStorage.setItem('activeTab', tabId); // Save active tab to localStorage
        }

        // Set the active tab on load based on localStorage
        document.addEventListener('DOMContentLoaded', () => {
            const activeTab = localStorage.getItem('activeTab') || 'tab1';
            showTab(null, activeTab);
        });
    </script>
    <script id="weaponskill-dialog-template" type="text/x-handlebars-template">
      <h2>Choose a Weaponskill</h2>
      <div class="weaponskill-options">
        <!-- Der Inhalt wird direkt ins HTML eingefügt -->
      </div>
    </script>
    <script id="coreskill-dialog-template" type="text/x-handlebars-template">
      <h2>Choose a Coreskill</h2>
      <div class="coreskill-options">
        {{#each coreskills}}
          <div class="coreskill-option" style="background-image: url('{{image}}');">
            <span>{{type}}</span>
          </div>
        {{/each}}
      </div>
    </script>
</form>
