<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    
    <div class="causesidebar">
        <div class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        <input type="number" class="textdescrip-side column" name="system.core.level.value" value="{{system.core.level.value}}" data-dtype="Number"/>
        </div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="250" width="175"/>
        <div class="headline1-side">Attributes</div>
        <div class="row">
          <div class="column headline3-side" data-action="rollStrength">Strength</div>
          <div class="column headline3-side" data-action="rollAgility">Agility</div>
        </div>
        <div class="row">
          <div class="textdescrip-side column"><input type="number" name="system.attributes.str.value" value="{{system.attributes.str.value}}" data-dtype="Number"/></div>
          <div class="textdescrip-side column"><input type="number" name="system.attributes.agi.value" value="{{system.attributes.agi.value}}" data-dtype="Number"/></div>
        </div>
        <div class="row">
          <div class="columnp headline3-side" data-action="rollWits">Wits</div>
          <div class="columnp headline3-side" data-action="rollBrains">Brains</div>
        </div>
        <div class="row">
          <div class="textdescrip-side column"><input type="number" name="system.attributes.wit.value" value="{{system.attributes.wit.value}}" data-dtype="Number"/></div>
          <div class="textdescrip-side column"><input type="number" name="system.attributes.bra.value" value="{{system.attributes.bra.value}}" data-dtype="Number"/></div>
        </div>
        <div class="nav-separator-line"></div>
        <div class="row">
          <div class="columnp headline3-side" data-action="rollFormpoints">Formpoints</div>
          <div class="columnp headline3-side" data-action="rollBrains">Fatigue</div>
        </div>
        <div class="row">
          <div class="textdescrip-side column"><input type="number" name="system.core.formpoints.value" value="{{system.core.formpoints.value}}" data-dtype="Number" readonly/></div>
          <div class="textdescrip-side column"><input type="number" name="system.core.fatigue.value" value="{{system.core.fatigue.value}}" data-dtype="Number" readonly/></div>
        </div>
        <div class="armor">Armor</div>
        <div class="textdescrip-side"><input type="number" name="system.core.armor.value" value="{{system.core.armor.value}}" data-dtype="Number" readonly/></div>
        <div class="nav-separator-line"></div>
        <div class="row">
          <div class="columnp headline4-side" data-action="rollBodySave">Body-Save</div>
          <div class="columnp headline4-side" data-action="rollMentalSave">Mental-Save</div>
        </div>
    </div>

    <nav class="causenavtabs tabs" data-group="primary">
        <a data-tab="core" >Core</a>
        <a data-tab="skills">Skills</a>
        <a data-tab="inventory">Inventory</a>
        <a data-tab="bonds">Bonds</a>
    </nav>
    <section class="causecontent">
        <div data-tab="core" data-group="primary" class="tab">
          {{> "systems/cause/templates/actor/parts/actor-core-partial.hbs"}}
        </div>
        
        <div data-tab="skills" data-group="primary" class="tab">
          {{> "systems/cause/templates/actor/parts/actor-skill-partial.hbs"}}
        </div>
        
        <div data-tab="bonds" data-group="primary" class="tab">
            <!-- Inhalt für Tab 3 -->
        </div>

        <div data-tab="inventory" data-group="primary" class="tab">
          {{> "systems/cause/templates/actor/parts/actor-inventory-partial.hbs"}}
        </div>
    </section>
    <script id="coreskill-dialog-template" type="text/x-handlebars-template">
      <h2>Choose a Coreskill</h2>
      <div class="coreskill-options">
        {{#each coreskills}}
          <div class="coreskill-option" style="background-image: url('{{image}}');">
            <span>{{type}}</span>
          </div>
        {{/each}}
      </div>
    </script>
</form>
