<form class="item-sheet weapon-sheet" autocomplete="off">
  <div class="image-container">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="256"/>
  </div>
  <div class="sheet-tabs">
    <ul class="tab-buttons">
      <li class="active" data-tab="description">Description</li>
      <li data-tab="details">Details</li>
    </ul>
  </div>
  <div class="sheet-body">
    <div class="tab-content active" id="description">
      <div class="form-group">
        <label>Description</label>
      </div>
      <div>
        <textarea name="system.description" class="description">{{system.description}}</textarea>
      </div>
    </div>
    <div class="tab-content" id="details">
      <div class="form-group">
        <label>Weapon Type</label>
        <select name="system.weaponType">
          <option value="Melee Weapons" {{#if (eq system.weaponType "Melee Weapons")}}selected{{/if}}>Melee Weapons</option>
          <option value="Pistol" {{#if (eq system.weaponType "Pistol")}}selected{{/if}}>Pistol</option>
          <option value="Light Machine Gun" {{#if (eq system.weaponType "Light Machine Gun")}}selected{{/if}}>Light Machine Gun</option>
          <option value="Shotgun" {{#if (eq system.weaponType "Shotgun")}}selected{{/if}}>Shotgun</option>
          <option value="Assault Rifle" {{#if (eq system.weaponType "Assault Rifle")}}selected{{/if}}>Assault Rifle</option>
          <option value="Machine Gun" {{#if (eq system.weaponType "Machine Gun")}}selected{{/if}}>Machine Gun</option>
          <option value="Hunting Rifle" {{#if (eq system.weaponType "Hunting Rifle")}}selected{{/if}}>Hunting Rifle</option>
          <option value="Sniper Rifle" {{#if (eq system.weaponType "Sniper Rifle")}}selected{{/if}}>Sniper Rifle</option>
        </select>
      </div>
      <div class="form-group">
        <label>Weapon Level</label>
        <input type="number" name="system.weaponLevel" value="{{system.weaponLevel}}">
      </div>
      <div class="form-group">
        <label>Concealment</label>
        <input type="number" name="system.concealment" value="{{system.concealment}}">
      </div>
    </div>
  </div>
</form>
